<header>
    <nav>
        <ul class="flex flex-row gap-2">
            <li class="example-button-row">
                <button color="primary" mat-flat-button>Save Note</button>
            </li>
            <li class="example-button-row">
                <button color="primary" mat-flat-button>Delete Note</button>
            </li>
            <li class="example-button-row">
                <button color="primary" mat-flat-button>Delete Selected Note</button>
            </li>
            <li class="example-button-row">
                <button color="primary" mat-flat-button>Create Note</button>
            </li>
        </ul>
    </nav>
</header>