<ng-template ngFor let-item [ngForOf]="items" let-i="index">
    <form class="border-solid border-2 flex flex-col w-56 h-56" cdkDrag>
        <div class=" w-full flex flex-row justify-between">
            <button mat-icon-button (click)="deleteItem(item)">
                <mat-icon>close</mat-icon>
            </button>
            <button (click)="updateItem(item)" class="">
                <mat-icon>save</mat-icon>
            </button>
        </div>
        <mat-form-field class="example-full-width">
            <input #mySubject (input)="item.subject = mySubject.value" value={{item.subject}}>
        </mat-form-field>
        <mat-form-field class="h-full">
            <textarea #myNote (input)="item.note = myNote.value" value="{{item.note}}" class="h-full"></textarea>
        </mat-form-field>
    </form>
</ng-template>